<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; Researchers Module</div>
        <div class="f-info-links">
            <span><b>Created By:- </b></span>&nbsp;&nbsp;
            <a href="https://www.instagram.com/tanushairc/">Tanush Singhal </a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://in.linkedin.com/in/nishita-agarwal-b62773280">Nishita Agarwal </a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="">Avi Dubey </a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="">Neeharika Maram </a>
        </div>
    </div>
</footer>