<%layout("/layouts/boilerplate")%>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 maindiv d">
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">monika S</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Associate Professor of Physics at Stanford University</h6>
            <p class="card-text">The geometric structure of a single-particle energy band in a solid is fundamental for a wide range of many-body phenomena and is uniquely characterized by the distribution of Berry curvature over the Brillouin zone. We realize an atomic interferometer to measure Berry flux in momentum space,</p>
            <a href="https://www.linkedin.com/in/monika-s-30389034/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Thomas Schaefer</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Professor at North Carolina State</h6>
            <p class="card-text">Thomas Schaefer is renowned for his research in nuclear physics. His work focuses on the behavior of quark-gluon plasma and the properties of nuclear matter under extreme conditions. His research has provided deep insights into the fundamental forces and particles that constitute the nucleus, contributing to the broader understanding of nuclear physics and quantum chromodynamics.
            </p>
            <a href="https://www.linkedin.com/in/thomas-schaefer-254a91ab/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">joe l.</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Vice Chancellor for Research at UC Santa Barbara.</h6>
            <p class="card-text">PhD, U. of Chicago under Prof. Henry Frisch in 1986, searching for magnetic monopoles with large superconducting coils read by SQUIDs. Joined UA2 (CERN Fellow) 1987, working on triggers, measured Z mass and e-tau universality in W decays, and looked for BSM Higgs in hadronic tau final states. Joined CDF (Wilson Fellow) at FNAL in 1991</p>
            <a href="https://www.linkedin.com/in/joe-i-5a109a43/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Martin Greenwald</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Former Deputy Director</h6>
            <p class="card-text">Martin Greenwald is recognized for his impactful work in plasma physics. His research has played a crucial role in advancing the field of fusion energy, particularly through his contributions to the understanding of plasma confinement and stability in fusion reactors</p>
            <a href="https://www.linkedin.com/in/martin-greenwald-98412314a/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Yitang Zhang</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Professor at University of New Hampshire</h6>
            <p class="card-text">itang Zhang is known for his groundbreaking work in number theory. He gained international acclaim for his proof concerning the bounded gaps between prime numbers, a significant milestone in prime number theory. Zhang's work has provided new directions for research and solving long-standing problems in mathematics.
            </p>
            <a href="https://www.linkedin.com/in/yitang-zhang-8a91617b/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Michael Eppard</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Senior Executive Manager at Max Planck Institute</h6>
            <p class="card-text">Senior Executive Manager (Physicist) with more than 20 years experience in managing multi-disciplinary projects, coordinating international teams for scientific organizations and running research institutions</p>
            <a href="https://www.linkedin.com/in/michael-eppard-562482/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Andreas Leonhardt</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Phycisist (Phd.)</h6>
            <p class="card-text">Knowledge is the driver behind all substantial progress. As a scientist, I am driven by curiosity and I am looking for new areas to grow and use my analytical skills to make a positive impact and advance the transformation to a data driven society and economy.</p>
            <a href="https://www.linkedin.com/in/andreas-leonhardt/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
</div>
    