<%layout("/layouts/boilerplate")%>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 maindiv d">
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Name</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Researcher......</h6>
            <p class="card-text"></p>
            <a href="" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Name</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Researcher......</h6>
            <p class="card-text"></p>
            <a href="" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
</div>
    