<%layout("/layouts/boilerplate")%>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 maindiv d">
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Deepanwita Banerjee</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Researcher......</h6>
            <p class="card-text">Banerjee and her team are focusing on sustainable aviation fuel by engineering microorganisms to produce fuel precursors.</p>
            <a href="https://www.linkedin.com/in/deepanwitab/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Karen Plaut</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Researcher......</h6>
            <p class="card-text">Both researchers are involved with Purdue University's Center on AI for Digital, Autonomous, and Augmented Aviation (AIDA³). This center is pioneering the use of AI and machine learning to develop autonomous unmanned aerial vehicles (UAVs) for various applications, including commercial logistics and environmental protection</p>
            <a href="https://www.linkedin.com/in/karen-plaut-2a0aa31a/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Dipanjan Basu</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Research Assistant Professor</h6>
            <p class="card-text">Cell Biologist with experience and expertise in ex vivo functional drug testing of 3D patient-derived cancer cells reporting new therapeutic targets in cancer.
            </p>
            <a href="https://www.linkedin.com/in/dipanjan-basu/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Aaron Neinstein</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Director of Digital Health, UCSF Health
            </h6>
            <p class="card-text">Decade-plus experience as physician executive leading digital health, digital patient experience, and enterprise digital and care delivery transformation. Believe in empowering patients and physicians to better access and use health information for more connected, collaborative care. Inspire and align organisations to bold, future-oriented vision and strategies, and drive there through collaboration and relentless execution</p>
            <a href="https://www.linkedin.com/in/aaronneinstein/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Joseph Hayes</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Professor of Psychiatry, UCL
            </h6>
            <p class="card-text">Joseph Hayes is a UKRI Future Leaders Fellow at the Division of Psychiatry, UCL. He is an honorary consultant psychiatrist in Camden and Islington NHS Mental Health Trust and an honorary public health consultant at the Office for Health Improvement and Disparities. He is a Co-founder of Juli Health.</p>
            <a href="https://www.linkedin.com/in/joseph-hayes-0327a51b1/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Katalin Karikó</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Domain: RNA Biology, Vaccine Development</h6>
            <p class="card-text"> Co-developer of mRNA technology used in COVID-19 vaccines. Her groundbreaking work has paved the way for a new era of vaccine development and potential treatments for other diseases.</p>
            <a href="https://www.linkedin.com/in/katalin-karik%C3%B3-a6b457a/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Paul Farmer</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Domain: Global Health, Infectious Diseases</h6>
            <p class="card-text">Co-founder of Partners In Health, Farmer has made significant contributions to global health, particularly in providing healthcare in resource-poor settings. His work has focused on diseases like tuberculosis and HIV/AIDS.</p>
            <a href="https://uk.linkedin.com/in/paul-farmer-309b3b2/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    
</div>
    