<%layout("/layouts/boilerplate")%>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 maindiv d">
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Steven Pinker</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Domain: Cognitive Psychology, Psycholinguistics</h6>
            <p class="card-text">Known for his research on language and the human mind. Pinker has written several influential books, including "The Language Instinct" and "How the Mind Works," exploring how language evolves and the cognitive processes behind it.</p>
            <a href="https://www.linkedin.com/in/steven-pinker-a51a7323/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Jonathan Haidt</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Domain: Social Psychology, Moral Psychology</h6>
            <p class="card-text">Haidt's research focuses on morality, politics, and culture. His book "The Righteous Mind: Why Good People Are Divided by Politics and Religion" examines how moral reasoning varies across different cultures and political spectrums.</p>
            <a href="https://www.linkedin.com/in/jonathan-haidt-2a594666/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Elizabeth Loftus</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Domain: Cognitive Psychology, Memory</h6>
            <p class="card-text">Renowned for her pioneering work on human memory, especially the malleability of memory and the phenomenon of false memories. Her research has significant implications for the legal field, particularly concerning eyewitness testimony.</p>
            <a href="https://www.linkedin.com/in/elizabethloftus/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Daniel Kahneman</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Domain: Behavioural Economics, Cognitive Psychology</h6>
            <p class="card-text">Nobel Prize winner in Economic Sciences for his work on prospect theory and judgment and decision-making. His book "Thinking, Fast and Slow" is a seminal work that explores the dual processes of thought and decision-making.</p>
            <a href="https://www.linkedin.com/in/daniel-kahneman-15b212211/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Angela Duckworth</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Domain: Positive Psychology, Educational Psychology</h6>
            <p class="card-text">Known for her research on grit and self-control, Duckworth's work emphasizes the importance of perseverance and passion for long-term goals. Her book "Grit: The Power of Passion and Perseverance" is widely acclaimed.</p>
            <a href="https://www.linkedin.com/in/angeladuckworth/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Roy Baumeister</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">- Domain: Social Psychology</h6>
            <p class="card-text">Baumeister's research has significantly advanced our understanding of self-control, self-esteem, and the need to belong. His influential work on ego depletion has provided insights into how self-control is a finite resource.</p>
            <a href="https://researchers.uq.edu.au/researcher/18360" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Girishwar Misra</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">- Domain: Cultural Psychology, Positive Psychology</h6>
            <p class="card-text">Known for his work in indigenous psychology and positive psychology in the Indian context. Misra has contributed to understanding how cultural factors influence psychological processes.<br>
Publications: "Psychology and Psychoanalysis in India," "Psychological Perspectives on Stress and Health"</p>
            <a href="https://in.linkedin.com/in/girishwar-misra-a3b1301b7" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
</div>
    