<%layout("/layouts/boilerplate")%>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 maindiv d">
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Andrew Ng</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Researcher......</h6>
            <p class="card-text">Dr. Andrew Ng is a globally recognized leader in AI (Artificial Intelligence). He is Founder of DeepLearning.AI, Founder & CEO of Landing AI, General Partner at AI Fund, Chairman and Co-Founder of Coursera and an Adjunct Professor at Stanford University’s Computer Science Department.</p>
            <a href="" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Fabio Moioli</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Executive Search & Leadership Advisor with vast AI Expertise </h6>
            <p class="card-text">Fabio Moioli is a consultant in Spencer Stuart’s Technology, Media, Telecommunications & Services. In his role, he advises clients on the leadership implications of new technologies, helping organizations to find new leaders who can drive business and technology transformations</p>
            <a href="https://www.linkedin.com/in/fabiomoioli/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Bernard Marr</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Author</h6>
            <p class="card-text">Bernard Marr is an internationally best-selling author, popular keynote speaker, futurist, and a strategic business & technology advisor to governments and companies. He helps organizations improve their business performance, use data more intelligently, and understand the implications of new technologies such as artificial intelligence</p>
            <a href="https://www.linkedin.com/in/bernardmarr/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Mike Quindazzi</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">US Alliances Sales Leader at PwC</h6>
            <p class="card-text">Managing Director leading sales for US Digital Alliances for PwC. I have 30 years invested in gathering industry experience & crafting my management consulting abilities; leading teams & global companies on strategy & transformational initiatives. I am responsible for growing a $1.5 billion cross-sector digital practice where I spend my waking hours developing our people & shaping innovative approaches to solving complex issues for our clients.</p>
            <a href="https://www.linkedin.com/in/mikequindazzi/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Kirk Borne</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Founder of Data Leadership Group (Data Scientist. Top Influencer. Speaker. Trainer. Consultant)</h6>
            <p class="card-text">Worldwide top influencer since 2013. Data Scientist. Global Speaker. Consultant. Astrophysicist. Space Scientist.
                Big Data & Data Science advisor, TedX speaker, researcher, blogger, Data Literacy advocate.</p>
            <a href="https://www.linkedin.com/in/kirkdborne/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Ronald van Loon</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">CEO, Principal Analyst Intelligent World</h6>
            <p class="card-text">My continuous pursuit to advance education and thought leadership in big data, IoT, AI, machine learning, 5G, deep learning, predictive analytics, cloud, edge and data science has evolved into my Top 10 Global Influencer and Thought Leader recognition by renowned institutions, and a combined social media presence that reaches over 500,000+ active data and analytics fans across Twitter, Instagram, Facebook, YouTube, Pinterest and LinkedIn</p>
            <a href="https://www.linkedin.com/in/ronald-van-loon-5411a/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
    <div class="card col" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Imtiaz Adam</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Artificial Intelligence & Strategy Executive</h6>
            <p class="card-text">I possess extensive experience in advanced data analytics, Machine Learning and Data Science. Furthermore, I have advised senior executives across the energy and other sectors on ESG including environmental policy strategies to reduce emissions of carbon dioxide including a detailed understanding of regulations as well as modeling of data</p>
            <a href="https://www.linkedin.com/in/imtiaz-adam-7467528/" class="card-link">LinkedIn Profile</a>
        </div>
    </div>
</div>
    