body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}

.f-info-links,
.f-info-socials,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info{
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
    
}

.f-info-links a:hover{
    text-decoration: underline;

}

.f-info-links:hover{

    box-shadow:2px 2px 20px red;
}



.card-body{
    padding:0 !important
}

.card{
    border: 1px solid black !important;
    margin-bottom: 2rem;
    padding: 4px;
    margin: 10rem;
    height: 250px !important;
}

.card:hover {
    box-shadow: 2px 2px 20px goldenrod;
}

